

@media only screen and (max-width: 770px) {

	.slider-link {
		top: 15% ;
		padding-left: 5% ;
        padding-right: 5% ; 
	}
	.slider-link .box-content p {font-size: 16px }

	.top-bar {
		height: 275px !important;
	}

	.boxed .img-boxed, .boxed .img-boxed img {
		height: 120px;
	}

	.panel-my .neon-text {font-size: 12px}

	h1 {
		font-size: 22px;
	}

}

@media only screen and (max-width: 480px) {


	.top-bar {
		height: 130px !important;
		margin-top: 15px;
	}
	.slider-link {
		display: none;
	}
	.mynav .sidebar-nav ul.nav {
		display: block;
		margin-right: 17% !important;
		
	}
	.logo img {
		width: 150px;
	}
	.navbar-default {
		background-color: #ffffff !important;
		height: 100%;
	}
	.mynav .logout-link.in-xs {
		margin: 0;
		color: #000;
	}
	.navbar-default.in-xs {
		background-color: #0D0F10 !important;
	}
	.navbar-default.in-xs .sidebar-nav {display: block !important;padding: 0px !important;overflow-y: visible;}

	#page-wrapper {
		padding: 0;
		margin: 0;
	}
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding: 0 !important}
	.panel-body {padding: 3px;}
	.xs30md10 {margin-top: 30px !important;}

	.navbar-default.makemoney ul li,.navbar-default.makemoney ul li a {
		width: 100%;
		display: block;
	}
	.navbar-default.makemoney ul {
		padding: 0px !important;
	}
}


	


@media only screen and (min-width: 767px) and (max-width: 900px) {

	.user-level {
		padding-left: 14% !important;
	}
	#curly-brace {
		left: 44% !important
	}
}